question no 1

In [1]:
import pandas as pd

data = pd.read_csv('/content/heart_disease_uci.csv')

print(data.head())

print(data.info())
print(data.isnull().sum())

   id  age     sex    dataset               cp  trestbps   chol    fbs  \
0   1   63    Male  Cleveland   typical angina     145.0  233.0   True
1   2   67    Male  Cleveland     asymptomatic     160.0  286.0  False
2   3   67    Male  Cleveland     asymptomatic     120.0  229.0  False
3   4   37    Male  Cleveland      non-anginal     130.0  250.0  False
4   5   41  Female  Cleveland  atypical angina     130.0  204.0  False

          restecg  thalch  exang  oldpeak        slope   ca  \
0  lv hypertrophy   150.0  False      2.3  downsloping  0.0
1  lv hypertrophy   108.0   True      1.5         flat  3.0
2  lv hypertrophy   129.0   True      2.6         flat  2.0
3          normal   187.0  False      3.5  downsloping  0.0
4  lv hypertrophy   172.0  False      1.4    upsloping  0.0

                thal  num
0       fixed defect    0
1             normal    2
2  reversable defect    1
3             normal    0
4             normal    0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        920 non-null    int64
 1   age       920 non-null    int64
 2   sex       920 non-null    object
 3   dataset   920 non-null    object
 4   cp        920 non-null    object
 5   trestbps  861 non-null    float64
 6   chol      890 non-null    float64
 7   fbs       830 non-null    object
 8   restecg   918 non-null    object
 9   thalch    865 non-null    float64
 10  exang     865 non-null    object
 11  oldpeak   858 non-null    float64
 12  slope     611 non-null    object
 13  ca        309 non-null    float64
 14  thal      434 non-null    object
 15  num       920 non-null    int64
dtypes: float64(5), int64(3), object(8)
memory usage: 115.1+ KB
None
id            0
age           0
sex           0
dataset       0
cp            0
trestbps     59
chol         30
fbs          90
restecg       2
thalch       55
exang        55
oldpeak      62
slope       309
ca          611
thal        486
num           0
dtype: int64

question no 2

In [2]:
data['thal'].fillna(data['thal'].mode()[0], inplace=True)
data['ca'].fillna(data['ca'].mode()[0], inplace=True)

print(data.isnull().sum())

id            0
age           0
sex           0
dataset       0
cp            0
trestbps     59
chol         30
fbs          90
restecg       2
thalch       55
exang        55
oldpeak      62
slope       309
ca            0
thal          0
num           0
dtype: int64

<ipython-input-2-ce4916464164>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['thal'].fillna(data['thal'].mode()[0], inplace=True)
<ipython-input-2-ce4916464164>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['ca'].fillna(data['ca'].mode()[0], inplace=True)

In [3]:
data.dropna(inplace=True)

question no 3

In [4]:
data['AgeGroup'] = pd.cut(data['age'], bins=[0, 40, 60, 120], labels=['<40', '40-60', '>60'])

In [5]:
data['CholesterolLevel'] = pd.cut(data['chol'], bins=[0, 200, 239, 600], labels=['Low', 'Normal', 'High'])

In [6]:
data['IsRisk'] = ((data['age'] > 60) & (data['chol'] > 239) & (data['trestbps'] > 140)).astype(int)

question no 4

In [7]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

le = LabelEncoder()
data['sex'] = le.fit_transform(data['sex'])
data['thal'] = le.fit_transform(data['thal'])

data = pd.get_dummies(data, columns=['cp', 'AgeGroup'])

In [8]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
data[['chol', 'trestbps', 'thalch']] = scaler.fit_transform(data[['chol', 'trestbps', 'thalch']])

question no 5

In [9]:
data['BP_Chol_Interaction'] = data['trestbps'] * data['chol']

In [10]:
data['Exercise_Angina_Risk'] = ((data['exang'] == 1) & (data['thalch'] < 100)).astype(int)

question no 6

In [11]:
data = data.drop(['oldpeak'], axis=1)